@use '@shared/styles/_variables' as *;

.movie-detail-page {
  min-height: 100vh;
  padding: $space-lg 0;

  &__error {
    text-align: center;
    color: $color-danger;
    font-size: $font-size-lg;
    padding: $space-xl;
  }
}
