@use '@shared/styles/_variables' as *;

.movies-carousel {
  &__loading-grid {
    display: flex;
    gap: $space-sm;
    overflow-x: auto;
    padding: $space-sm 0;
  }

  &__error {
    text-align: center;
    padding: $space-lg;
    color: $color-text-muted;

    p {
      margin-bottom: $space-md;
    }
  }
}
